{% extends 'default/base.html' %}
{% block section %}

<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Servicios</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="/">Inicio</a></li>
					<li>Levantamiento De Procesos</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>

<div class="container">
	<div class="row">
		<div class="col-md-6 margin20">
			<h3 class="heading">Levantamiento De Procesos</h3>
			<p>
				Este servicio permite efectuar un diagnóstico para lo cual nuestra área de consultoría realizara un levantamiento de procesos ejecutados por ingenieros de procesos especialistas y que pueden forman parte del proyecto si el cliente las considera, generando como resultante una serie de diagramas de procesos interactivos que serán validados por el cliente y que son un factor relevante para el existo y un diferenciador importante de la metodología de INFORMAT.
			</p>
		</div>
		<div class="col-md-6">
			<img src="/static/assets/images/sections/servicios/levantamiento.jpg" class="img-responsive" alt="">
		</div>
	</div>
</div>

<div class="divide80"></div>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){});

</script>

{% endblock scripts %}