{% extends 'default/base.html' %}
{% block section %}

<div class="fullwidthbanner">
	<div class="tp-banner">
		<ul>
			<!-- SLIDE -->
			<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Powerful Theme">
				<!-- MAIN IMAGE -->
				<img src="/static/assets/images/sections/dashboard/slider-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<div class="caption title-2 sft" data-x="50" data-y="160" data-speed="1000" data-start="1000" data-easing="easeOutExpo">
					40 años de experiencia
				</div>

				<div class="caption text sfl text-" data-x="50" data-y="290" data-speed="1000" data-start="1800" data-easing="easeOutExpo">
					Contáctanos y solicita una cotización
				</div>

				<div class="caption sfb rev-buttons tp-resizeme" data-x="50" data-y="360" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
					<a href="/contacto/" class="btn btn-theme-bg btn-lg">Contactanos</a>
				</div>
			</li>

			<!-- SLIDE -->
			<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Unique Theme">
				<!-- MAIN IMAGE -->
				<img src="/static/assets/images/sections/dashboard/slider-2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat="no-repeat">

				<div class="caption text-center-top sft" data-x="center" data-y="210" data-speed="1000" data-start="1400" data-easing="easeOutExpo">
					Perfect for startup 
				</div>

				<div class="caption text-center-btm sfr text-center" data-x="center" data-y="265" data-speed="1000" data-start="1600" data-easing="easeOutExpo">

					Assan is a creative multipurpose theme, you can use it for<br>  business, corporate, portfolio, shop events, personal and more...

				</div>
				<div class="caption sfb rev-buttons tp-resizeme" data-x="center" data-y="350" data-speed="500" data-start="1800" data-easing="Sine.easeOut">
					<a href="#" class="btn border-white btn-lg">View features</a>
				</div>
			</li>

			<!-- SLIDE -->
			<li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Multipurpose">
				<!-- MAIN IMAGE -->
				<img src="/static/assets/images/sections/dashboard/slider-3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<!-- LAYER NR. 1 -->
				<div class="caption left-tile-text sfr tp-resizeme" data-x="40" data-y="110"  data-speed="600" data-start="1200" data-end="9400" data-endspeed="600">Unlimited layouts
				</div>

				<!-- LAYER NR. 2 -->
				<div class="caption medium_bg_darkblue sfl medium tp-resizeme" data-x="40" data-y="170"  data-speed="600" data-start="1600" data-end="9400" data-endspeed="600"><i class="fa fa-check"></i>
				</div>

				<!-- LAYER NR. 3 -->
				<div class="caption modern_big_redbg sfb medium tp-resizeme" data-x="90" data-y="170"  data-speed="600" data-start="1600" data-end="9400" data-endspeed="600">Fully Responsive
				</div>

				<!-- LAYER NR. 4 -->
				<div class="caption medium_bg_darkblue sfl medium tp-resizeme" data-x="40" data-y="220"  data-speed="600" data-start="1800" data-end="9400" data-endspeed="600"><i class="fa fa-check"></i>
				</div>

				<!-- LAYER NR. 5 -->
				<div class="caption modern_big_redbg sfb medium tp-resizeme" data-x="90" data-y="220"  data-speed="600" data-start="1800" data-end="9400" data-endspeed="600">210+ HTML5 Valid Pages
				</div>

				<!-- LAYER NR. 6 -->
				<div class="caption medium_bg_darkblue sfl medium tp-resizeme" data-x="40" data-y="270"  data-speed="600" data-start="2000" data-end="9400" data-endspeed="600"><i class="fa fa-check"></i>
				</div>

				<!-- LAYER NR. 7 -->
				<div class="caption modern_big_redbg sfb medium tp-resizeme" data-x="90" data-y="270"  data-speed="600" data-start="2000" data-end="9400" data-endspeed="600">Slider revolution
				</div>

				<!-- LAYER NR. 8 -->
				<div class="caption medium_bg_darkblue sfl medium tp-resizeme" data-x="40" data-y="320"  data-speed="600" data-start="2200" data-end="9400" data-endspeed="600"><i class="fa fa-check"></i>
				</div>

				<!-- LAYER NR. 9 -->
				<div class="caption modern_big_redbg sfb medium tp-resizeme" data-x="90" data-y="320"  data-speed="600" data-start="2200" data-end="9400" data-endspeed="600">Clean & Commented Code
				</div>

				<!-- LAYER NR. 10 -->
				<div class="caption modern_big_redbg sfb medium tp-resizeme" data-x="40" data-y="370"  data-speed="600" data-start="2400" data-end="9400" data-endspeed="600">And Much More...
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="divide60"></div>
<div class="container">

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">

			<div class="col-md-4 col-sm-4 margin30">
				<div class="colored-boxed green">

					<img src="/static/assets/images/sections/dashboard/logo-inet-erp.png" class="img-responsive" alt="">

					<span class="center-line"></span>
					<p>
						NET ERP es una aplicación del tipo ERP que permite controlar, monitorear, integrar y gestionar los procesos del negocio de su compañía.
					</p>

					<div class="text-center">
						<a href="/soluciones/erp/" class="btn btn-theme-bg btn-lg">Ver más</a>
					</div>
				</div>
			</div><!--colored boxed col end-->
			<div class="col-md-4 col-sm-4 margin30">
				<div class="colored-boxed dark">

					<img src="/static/assets/images/sections/dashboard/logo-inet-ifacture.png" class="img-responsive" alt="">		
					<span class="center-line"></span>

					<p>
						IFACTURE INET es el módulo de facturación electrónica completamente integrado a INET ERP e INET XPRESS y permite otorgar validez legal y tributaria a los Documentos Electrónicos (D.T.E.).
					</p>

					<div class="text-center">
						<a href="/soluciones/factura-electronica/ifacture-inet/" class="btn btn-theme-bg btn-lg">Ver más</a>
					</div>

				</div>
			</div><!--colored boxed col end-->
			<div class="col-md-4 col-sm-4 margin30">
				<div class="colored-boxed blue">

					<img src="/static/assets/images/sections/dashboard/logo-inet-bi.png" class="img-responsive" alt="">
					<span class="center-line"></span>
					<p>
						Una solución de Business Intelligence ofrece información de la empresa que puede utilizarse para facilitar y mejorar la toma de decisiones al transformar los datos del entorno operativo.
					</p>
					<div class="text-center">
						<a href="/soluciones/factura-electronica/ifacture-web/" class="btn btn-theme-bg btn-lg">Ver más</a>
					</div>
				</div>
			</div><!--colored boxed col end-->
		</div>
	</div>
</div><!--services container-->

<div class="divide60"></div>







<section class="fun-fact-wrap parallax" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">

			<div class="col-md-3 margin20 facts-in">
				<h3>
					<div class="margin30"><i class="fa fa-lightbulb-o" style="color:#fff;"></i></div>
					<span class="counter">240</span>
				</h3>
				<h4>Proyectos Realizados</h4>
			</div>

			<div class="col-md-3 margin20 facts-in">
				<h3>
					<div class="margin30"><i class="fa fa-globe" style="color:#fff;"></i></div>
					<span class="counter">815</span>
				</h3>
				<h4>Inversiones</h4>
			</div>

			<div class="col-md-3 margin20 facts-in">
				<h3>
					<div class="margin30"><i class="fa fa-address-book " style="color:#fff;"></i></div>
					<span class="counter">1420</span>
				</h3>
				<h4>Clientes</h4>
			</div>

			<div class="col-md-3 margin20 facts-in">
				<h3>
					<div class="margin30"><i class="fa fa-trophy" style="color:#fff;"></i></div>
					<span class="counter">41</span>
				</h3>
				<h4>Años De Experiencia</h4>
			</div>

		</div>
	</div>
</section>



<div class="intro-text-1 fun-facts-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h4 class="animated slideInDown" style="margin-top: 25px;">
					SATISFACEMOS LAS NECESIDADES DE TU ORGANIZACIÓN
				</h4>
			</div>
			<div class="col-sm-4">
				<a href="#" class="btn border-white btn-lg">Contáctanos</a>
			</div>
		</div>
	</div>
</div> <!--intro text end-->


{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){});

</script>

{% endblock scripts %}
