{% extends 'default/base.html' %}
{% block section %}


<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Quienes Somos</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="/">Inicio</a></li>
					<li>Quienes Somos</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide80"></div>

<div class="container">
	<div class="row">
		<div class="col-md-6 margin20">
			<h3 class="heading">Bernardo Segura – Presidente</h3>
			<p>
				Bernardo Segura fundó la organización en 1974. Desde los inicios se ha encargado de estructurar y organizar la compañía para alcanzar la consolidación que hoy tiene en el mercado nacional, con un registro de más de mil implantaciones exitosas. En la última década, el principal ejecutivo de Informat ha concentrado su gestión en la conformación de equipos de trabajo con liderazgo claro y bien definido. Ello, para obtener una gestión óptima en negocios y mercados que exigen nuevas y distintas formas de operación y desempeño diario. “Es clave que Informat crezca con una visión mucho más competitiva y con una rigurosa metodología”, enfatiza hoy. 
			</p>
			<p>
				Bernardo Segura se define como un ejecutivo operativo, es decir involucrado en cada una de las distintas áreas de acción de la firma. “Si bien actualmente se requieren lineamientos más precisos y estrategias más agresivas de negocios, con profesionales y técnicos preparados y capacitados, lo que no puede cambiar es la confianza y transparencia que hay que transmitir a los clientes, especialmente cuando la venta se sustenta en un producto intangible. Desde los comienzos ha sido un foco importante para mí el saber cumplir y salir adelante en forma exitosa con cada uno de los proyectos que desarrollamos. Así, se construye una relación de largo plazo”, enfatiza.
			</p>
		</div>
		<div class="col-md-6">
			<img src="/static/assets/images/sections/quienes_somos/bernardo-segura.jpg" class="img-responsive" alt="">
		</div>
	</div>

	<div class="divide60"></div>

	<div class="row">
		<div class="col-md-6 margin20">
			<h3 class="heading">Sebastián Segura – Vicepresidente Ejecutivo</h3>
			<p>
				Sebastián Segura es Ingeniero Comercial de la Universidad Finis Terrae. Antes de asumir el cargo, en noviembre de 2012, el ejecutivo fue Gerente de Ventas, Gerente General y Director Comercial en esta misma compañía. Bajo su gestión, Informat está potenciando el trabajo en dos grandes líneas de acción: diversificación y rentabilidad de todas las unidades de negocios que hoy tiene la organización.
			</p>
			<p>
				Lo que se busca, según ha dicho el propio Sebastián Segura, es posicionar a la empresa como un proveedor de tecnología boutique, con una propuesta de negocios diferenciada. Eso, en el entendido que todos los clientes son distintos y con necesidades igualmente diferentes. Por tanto, el desafío es ser capaces de generar servicios específicos para cada cliente.
			</p>
		</div>
		<div class="col-md-6">
			<img src="/static/assets/images/sections/quienes_somos/sebastian-segura.jpg" class="img-responsive" alt="">
		</div>
	</div>
</div>





{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){});

</script>

{% endblock scripts %}