{% extends 'default/base.html' %}
{% block section %}
<section id="closing" class="closing-section section">

	<div class="section-background">

		<!-- IMAGE BACKGROUND -->
		<div class="section-background-image parallax" data-stellar-ratio="0.1">
			<img src="/static/assets/images/sections/quienes_somos/background-1.jpg" >
		</div>

	</div>

	<div class="container">

		<h2 class="section-heading text-center">IPROPERTY</h2>		

	</div>

</section>


<section id="about" class="about-section section">

	<div class="container">

		<div class="about-row row">

			<!-- DESCRIPTION TEXT -->
			<div class="about-text col-md-6">

				<p>IPROPERTY</p>

				<p>
					Iproperty, una nueva herramienta que facilita y agiliza la administración de activos, principalmente inmobiliarios, aunque sus alcances también se extienden a otros sectores de la economía. Entre ellos, el de transporte y minería. Esta innovación se ubica dentro de un conjunto de nuevas aplicaciones que tienen como objetivo resolver complejas problemáticas de gestión y control para distintos tipos de organizaciones.
				</p>

				<p>
					En el detalle, Iproperty es un software de gestión, enfocado y pensado en su creación para resolver los distintos desafíos financieros, operativos y comerciales que las empresas del segmento inmobiliario tienen actualmente.
				</p>

				<p>
					Este nuevo aplicativo de Informat entrega protagonismo a la gestión documental, a la seguridad y a la conectividad, ya que desde una misma plataforma tecnológica, proveedores y clientes se conectan, aumentando así la eficiencia en el uso de los 
				</p>recursos humanos, financieros y de control.

				<p>
					En una etapa inicial, Iproperty facilitará la creación y administración de activos, generando la individualización y determinando el cobro de los ingresos, recorriendo, además, los reportes necesarios para aumentar la calidad y disponibilidad de la información de los dos actores principales involucrados en la materialización de un negocio.
				</p>

			</div>

			<!-- DESCRIPTION IMAGE -->
			<div class="about-image col-md-6" data-animation="fadeIn">
				<img src="/static/assets/images/sections/soluciones/iproperty.jpg" alt="Description Image">
			</div>

		</div>


	</div>

</section>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){});

</script>

{% endblock scripts %}