{% extends 'default/base.html' %}
{% block section %}
<section id="closing" class="closing-section section">

	<div class="section-background">

		<!-- IMAGE BACKGROUND -->
		<div class="section-background-image parallax" data-stellar-ratio="0.1">
			<img src="/static/assets/images/sections/soluciones/locatarios.jpg" >
		</div>

	</div>

	<div class="container">

		<h2 class="section-heading text-center">INFORMAT SCP – SISTEMA CONTROL LOCATARIOS</h2>

		<div class="row text-center">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<p>Informat</p>
			</div>
		</div>

	</div>

</section>


<section id="about" class="about-section section">

	<div class="container">
		
		<div class="about-row row">

			<!-- DESCRIPTION TEXT -->
			<div class="about-text col-md-6">
				<p>INFORMAT SCP – SISTEMA CONTROL LOCATARIOS</p>
				<p>
					Informat SCL desarrollada para el control de contratos de locales de un centro comercial y de arriendo de propiedades.
					Este producto se integra con las aplicaciones Módulo de Pedidos y Módulo de Ventas y Facturación de nuestro software INET ERP, para la emisión de las facturas generadas por las cláusulas de los contratos.
				</p><p>
				Registra toda la información tanto del Centro Comercial como de los sectores que lo componen dentro de algunos de los principales podemos mencionar los tipos de Locales, los contratos y los medidores de servicios básicos entre otros.
				Permite registrar mensualmente la información de ventas y consumos como también realizar los cálculos respectivos de acuerdo a la lógica de cálculo definida para cada cliente o Local.
			</p>
				<!-- <ul class="icon-list">
					<li>
						<span class="icon-list-icon fa fa-hand-o-up" data-animation="bounceIn"></span>
						<h4 class="icon-list-title">Click Through</h4>
						<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
					</li>
					<li>
						<span class="icon-list-icon fa fa-heart-o" data-animation="bounceIn"></span>
						<h4 class="icon-list-title">Lead Generation</h4>
						<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
					</li>
					<li>
						<span class="icon-list-icon fa fa-lightbulb-o" data-animation="bounceIn"></span>
						<h4 class="icon-list-title">Other Purposes</h4>
						<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
					</li>
				</ul> -->
			</div>

			<!-- DESCRIPTION IMAGE -->
			<div class="about-image col-md-6" data-animation="fadeIn">
				<img src="/static/assets/images/sections/soluciones/locatarios.jpg" alt="Description Image">
			</div>

		</div>

	</div>

</section>


<section id="headline" class="headline-section section-gray section">

	<div class="container">

		<h2 class="section-heading text-center hidden">Tagline</h2>

		<div class="row">
			<div class="col-md-10">

				<p class="headline-text">
					¿QUIERES SABER MÁS? >>>
				</p>

			</div>

			<div class="col-md-2">

				<p class="hero-buttons text-center">
					<a href="#" class="btn btn-lg btn-primary">DESCARGAR EL PDF</a>
				</p>
			</div>
		</div>

	</div>
</section>

{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){});

</script>

{% endblock scripts %}