<footer id="footer">
	<div class="container">

		<div class="row">
			<div class="col-md-3 col-sm-6 margin30">
				<div class="footer-col">
					<h3>Sobre Informat</h3>
					<p>
						Nuestra motivación es contribuir a la gestión de negocios de nuestros clientes, generando valor en sus procesos administrativos y de toma de decisiones a través del uso de la tecnología. Nuestra experiencia y compromiso nos permite desarrollar, comercializar e implantar exitosamente soluciones de gestión empresarial y servicios tecnológicos.
					</p>
					<ul class="list-inline footer-social">
						<li>
							<a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
								<i class="fa fa-facebook"></i>
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
								<i class="fa fa-twitter"></i>
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" class="social-icon si-dark si-gray-round si-colored-google-plus">
								<i class="fa fa-google-plus"></i>
								<i class="fa fa-google-plus"></i>
							</a>
						</li>

						<li>
							<a href="https://www.linkedin.com/company/informat-s.a.?trk=top_nav_home" target="_blank" class="social-icon si-dark si-gray-round si-colored-linkedin">
								<i class="fa fa-linkedin"></i>
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>                        
			</div>

			<div class="col-md-6 col-sm-6 margin30">
				<div class="footer-col">
					<h3>Contáctenos</h3>

					<ul class="list-unstyled contact">
						<li><p><strong><i class="fa fa-map-marker"></i></strong> Av. Vitacura 2771, 5° Piso,Of. 504. Las Condes</p></li> 
						<li><p><strong><i class="fa fa-envelope"></i></strong> <a href="#">info@informat.cl</a></p></li>
						<li> <p><strong><i class="fa fa-phone"></i></strong> Mesa central: (+562) 2484 2400</p></li>
						<li> <p><strong><i class="fa fa-print"></i></strong> Fax: (+562) 24842489</p></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center">
				<div class="footer-btm">
					<span>Copyright All Rights Reserved © 2014</span>
				</div>
			</div>
		</div>
	</div>
</footer>