{% load static %}
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/static/assets/images/logos/logo-sm.png" alt="Informat"></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">

				<li>
					<a href="/">INICIO</a>
				</li>

				<li>
					<a href='/quienes-somos/'>QUIENES SOMOS</a>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">SOLUCIONES <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

						<li>
							<a href="/soluciones/erp/">Inet ERP</a>
						</li>

						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Factura Electrónica</a>
							<ul class="dropdown-menu">
								<li><a href="/soluciones/factura-electronica/ifacture-inet/">Ifacture Inet</a></li>
								<li><a href="/soluciones/factura-electronica/ifacture-web/">Ifacture Web</a></li>
							</ul>
						</li>

						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Verticales</a>
							<ul class="dropdown-menu">
								<li><a href="/soluciones/sistema-control-proyecto/">Control Proyecto</a></li> 
								<li><a href="/soluciones/sistema-control-locatarios/">Control Locatarios</a></li>
							</ul>
						</li>

						<li>
							<a href="/soluciones/business-inteligence/">Business Inteligence</a>
						</li>

						<li>
							<a href="/soluciones/iproperty/">Iproperty</a>
						</li>

					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle " data-toggle="dropdown">SERVICIOS <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu multi-level" role="menu">
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Consultoría </a>
							<ul class="dropdown-menu">
								<li><a href="/servicios/consultoria/levantamiento-procesos/">Levantamiento de Procesos</a></li>
								<li><a href="/servicios/consultoria/control-proyecto/">Control de Proyectos</a></li>
								<li><a href="/servicios/consultoria/capacitaciones/">Capacitación</a></li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Servicios al Cliente </a>
							<ul class="dropdown-menu">
								<li><a href="/servicios/servicio-cliente/soporte/">Soporte</a></li>
								<li><a href="/servicios/servicio-cliente/plataforma-tecnologica/">Plataforma Tecnológica (PTI)</a></li>
								<li><a href="/servicios/servicio-cliente/servicio-tecnico/">Servicio Técnico</a></li>

							</ul>
						</li>

					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">CLIENTES <i class="fa fa-angle-down"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/clientes/nuestros-clientes/">Nuestros Clientes</a></li>
						<li class="dropdown-submenu">
							<a tabindex="-1" href="#">Ingreso Clientes </a>
							<ul class="dropdown-menu">
								<li><a href="http://webservices.informatasp.cl/descargas/servlet/hlogin" target="_blank">Descargas</a></li>
								<li><a href="http://mesadeayuda.informat.cl/usdk/" target="_blank">Centro de Servicios Informat</a></li>
								<!-- <li><a href="/">Licenciamiento en Línea</a></li> -->
							</ul>
						</li>
					</ul>
				</li>

				<li>
					<a href='/contacto/'>CONTACTO</a>
				</li>

				<li>
					<a href="tel:+56224842400"><i class="fa fa-phone"></i> (2) 224 842 400</a>
				</li>

			</ul>
		</div><!--/.nav-collapse -->
	</div><!--container-->
</div>