{% extends 'default/base.html' %}
{% block section %}


<div class="breadcrumb-wrap">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>Nuestros Clientes</h4>
			</div>
			<div class="col-sm-6 hidden-xs text-right">
				<ol class="breadcrumb">
					<li><a href="/">Inicio</a></li>
					<li>Clientes</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="divide60"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<img src="/static/assets/images/sections/clientes/logos-clientes.jpg" alt="">
			</div>
		</div>
	</div>

	<div class="divide60"></div>
</div>





{% endblock section %}

{% block scripts %}
<script>

$(document).ready(function(){});

</script>

{% endblock scripts %}